@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #badfdb;
}

header {
  background-color: #fcf9ea;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #b1aaaa;
  text-align: center;
}

header img {
  width: 20px;
}

#header-name {
  text-decoration: none;
  color: black;
}

#header-name:hover {
  text-decoration: underline;
  color: rgb(161, 161, 161);
}

footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: auto;
  background-color: #fcf9ea;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  border-top: 2px solid #b1aaaa;
}

#footer-name {
  text-decoration: underline;
  color: black;
}

.main-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.about-container {
  font-family: "Poppins", sans-serif;
  background-color: #fcf9ea;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  margin: 3rem auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

.grid-about-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.about-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  background-color: #fcf9ea;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  font-family: "Cormorant Garamond", serif;
}

.about-card img {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.about-card a {
  text-decoration: none;
  color: black;
}
