@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500&family=Poppins:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #badfdb;
}

header {
  background-color: #fcf9ea;
  padding: 1rem 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #b1aaaa;
  display: flex;
  justify-content: center;
  position: relative;
}

header img {
  width: 20px;
}

#header-name {
  text-decoration: none;
  color: black;
}

#header-name:hover {
  text-decoration: underline;
  color: rgb(161, 161, 161);
}

#header-about {
  text-decoration: none;
  color: black;
}

#header-about:hover {
  text-decoration: underline;
  color: rgb(161, 161, 161);
}

.menu-container {
  position: absolute;
  right: 8rem;
  display: flex;
  gap: 2rem;
}

#home-btn {
  text-decoration: none;
  color: black;
}

.main-container {
  display: flex;
}

.left-container {
  width: 80%;
  height: auto;
  background-color: #badfdb;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
}

.right-container {
  width: 20%;
}

.inner-right-container {
  width: 20%;
  height: 84%;
  background-color: white;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: fixed;
  right: 10;
  padding: 12px;
  overflow-y: auto;
  margin-top: 16px;
}

.sidebar-header {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding-top: 12px;
}

#addBtn {
  padding: 0.25rem 1rem;
  width: fit-content;
  align-self: center;
  background-color: rgb(145, 247, 77);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.cart-img {
  width: 20px;
  height: 20px;
}

#addBtn:hover,
.add-to-favorites-btn:hover {
  background-color: rgb(186, 255, 158);
  color: black;
}

.sidebar-title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#input-title {
  width: 80%;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  background-color: white;
}

.sidebar-title > label {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

.sidebar-description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#input-description {
  width: 80%;
  padding: 0.75rem 1rem;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  background-color: white;
}

.sidebar-description > label {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

.sidebar-image {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#input-image {
  width: 80%;
  border: 2px solid #e0e0e0;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  transition: all 0.3s ease;
  background-color: white;
}

.sidebar-image > label {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

.sidebar-cart > p {
  font-weight: bold;
  font-family: "Cormorant Garamond", serif;
}

.drama-card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.drama-card img {
  width: 200px;
  height: 200px;
  background-color: #ffa4a4;
  padding: 8px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.drama-card h3 {
  color: #333;
  font-family: "Poppins", sans-serif;
}

.drama-card p {
  color: #000000;
  font-family: "Merriweather", serif;
  text-align: justify;
}

.btn-container {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: auto;
}

.add-to-favorites-btn {
  padding: 0.25rem 0.25rem;
  width: fit-content;
  align-self: center;
  background-color: rgb(145, 247, 77);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.remove-btn {
  padding: 0.25rem 0.25rem;
  width: fit-content;
  align-self: center;
  background-color: rgb(255, 66, 66);
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.remove-btn:hover {
  color: black;
  background-color: rgb(255, 187, 187);
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 16px;
}

.drama-cart {
  font-family: "Cormorant Garamond", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 0.5rem;
  border-bottom: 1px solid #e0e0e0;
}

.save-btn {
  padding: 0.25rem 1rem;
  width: fit-content;
  align-self: center;
  background-color: rgb(145, 247, 77);
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
}

.save-btn:hover {
  background-color: rgb(186, 255, 158);
  color: black;
}

.clear-btn {
  padding: 0.25rem 1rem;
  width: fit-content;
  align-self: center;
  background-color: rgb(109, 101, 101);
  font-weight: bold;
  cursor: pointer;
  color: white;
  border-radius: 4px;
}

.clear-btn:hover {
  color: red;
  background-color: rgb(190, 185, 185);
}

.favorites-container {
  display: flex;
  gap: 12px;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: auto;
  background-color: #fcf9ea;
  text-align: center;
  font-size: 12px;
  padding: 8px;
  font-family: "Poppins", sans-serif;
  border-top: 2px solid #b1aaaa;
}

#footer-name {
  text-decoration: underline;
  color: black;
}
